body {
    font-size: 28px;
    font-family: Helvetica;
}
  
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #163881;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #0e224f;
}

.active {
background-color: #4CAF50;
}